<h1>
	<img src="images/logo2.png" alt="Foundtain" />
</h1>

<p class="subtitle">You've come to the well. 
	Now let's find you a cofounder.</p>

<div class="signinup">
	<%= form_for @user, :url => decision_path do |f| %>
		<div class="field">
			<%= f.label :email, :class => "hidden" %>
			<%= f.text_field :email, :value => "Type in your email address...",
															 :id 			=> "signmail",
															 :onfocus => "switchvalue('signmail')",
															 :onblur	=> "switchvalue('signmail')" %>
		</div>
		<div class="field">
			<%= f.label :password, :class => "hidden" %>
			<%= f.text_field :password, 
													 :value 	=> "...and your (desired) password.",
													 :id 			=> "signpass", 
													 :onfocus => "switchtype('signpass')",
													 :onblur	=> "switchtype('signpass')" %>
		</div>
		<div class="action">
			<!-- <%= f.submit "Create Account / Sign In" %> -->
			<%= image_submit_tag('create_btn.jpg') %>
		</div>
	<% end %>
	
	<img src="images/search_btn.jpg" alt="Search without Signup" />
</div>